{% extends "base.html" %}

{% block content %}
    <div><a href="{% url 'article_create' %}">Добавить статью</a></div>
    <h1>Список статей</h1>
    {% for article in articles %}
    <table>
        <thead>
        <tr>
            <th><h2><a href="{% url 'article_id' article.id %}">{{ article.name }}</a></h2></th>
            <th><h5><a href="{% url 'article_edit' article.id %}">Редактировать</a></h5></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="2"><div>{{ article.body|slice:":200" }}</div></td>
        </tr>
        </tbody>
    </table>
    {% endfor %}
{% endblock %}
